*{
	margin: 0;
	padding: 0;
	font-family: 'Monomaniac One', sans-serif;
}
.Merch
{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('Images/Flea.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
}
.headingTitle
{
	text-align: center;
	font-size: 50px;
	padding-top: 250px;
	color: #FFFFFF;
}